<!-- //does for each car listed in the json -->
{{#each cars}}
<!-- //4 grid wide card -->
<div id="car{{year}}" class="col-md-4">

    <!-- //main card class, added required styling -->
    <div class="card" style="border: 2px solid black">
        <!-- //image -->
        <img class="card-img-top" src="/images/{{image}}" alt="Card image cap">
        <div class="card-block">
            <!-- //year, make, and model (ex. 1996 Ford Focus) -->
            <h2 class="card-title">{{year}} {{make}} {{model}}</h3>
            <h4 class="card-text">{{price}}</h4>
            <!-- //description. can I put a scroll bar here? -->
            <p class="card-text description">{{description}}</p>
        </div>
    </div>
</div>
{{/each}}
