  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{Poster}}>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{Title}}<i class="material-icons right">more_vert</i></span>
      <p>Add to List</p>
      {{#if onList}}
        <p>Watched</p>
      {{/if}}
          {{#if watched}}
            <p>Rating</p>
          {{/if}}
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Movie Information<i class="material-icons right">close</i></span>
      <p>Year Released: {{Year}}</p>
      <p>Actors: {{Actors}}</p>
      <p>Synopsis: {{Plot}}</p>
    </div>
  </div>
